.table input {
    width: 50%;
}

.input-group {
    width: 50%;
}

.dateTime { 
    text-align: center;
}

.monthBudgetSumOver {
    color: hsla(0, 100%, 50%, 0.637)
}
.modal-header, h4, .close {
    background-color: grey;
    color:white !important;
    text-align: center !important;
    font-size: 30px;
}